.myModal {
  width: 30%;
  height: 40%;
  background-color: white;
  border-radius: 20px;
  transform: translate(120%, 75%);
  outline: none;
}

.titleText {
  margin-left: 3%;
  margin-top: 3%;
  font-size: 20px;
  color: #332b47;
}

.btn {
  margin-left: 3% !important;
  border-radius: 10px !important;
}

.VKButton {
  background-color: #4885fa !important;
  color: white !important;
}

.modalText{
  margin-left: 3%;
}

.privacyPolicy{
  opacity: 0.5;
}

.mainDiv {
  height: 50%;
  width: 50%;
}

@media (min-width: 320px) {
  .myModal {
    width: 85%;
    height: 40%;
    transform: translate(10%, 65%);
  }
}

@media (min-width: 768px){
  .myModal {
    width: 55%;
    height: 40%;
    transform: translate(50%, 75%);
  }
}

@media (min-width: 1024px){
  .myModal {
    width: 30%;
    height: 40%;
    transform: translate(120%, 75%);
  }
}

@media (min-width: 1200px){
  .myModal {
    width: 30%;
    height: 35%;
    transform: translate(120%, 90%);
  }
}